{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<a href="#">Profile</a>
<a href="#">My Library</a>
<a href="#">Upload</a>

<div style="width:600px; height: 400px; margin: auto; padding-top: 60px;">
    <h1>Upload album</h1>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
<form action='.' method='POST' enctype='multipart/form-data'> {% csrf_token %}
    {{ form|crispy }}
    <div class="fileUpload btn btn-primary">
            <span>Upload</span>
            <input type="file" class="upload" />
        </div>
    <button type="submit" class="btn btn-primary" value='Save'>Save</button>
</form>
</div>

{% endblock %}